# Miscellaneous & OS
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IDE & Editors
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub (Root and Subpackages)
**/.dart_tool/
**/build/
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
/coverage/

# Android
**/android/.gradle/
**/android/local.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
*.apk
*.aab
*.keystore
*.jks

# Windows Desktop
**/windows/flutter/ephemeral/

# Node & Firebase Cloud Functions
**/node_modules/
node_modules/
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Database & Cache files
*.sqlite
*.sqlite-journal
*.db
